* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 1000vh;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    text-transform: uppercase;
}

#header{
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px #ccc;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#header .header-top {
    padding: 10px 20px;
    border-bottom: 1px solid #f1f1f1; 
}

#header .header-top .header-top__list {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight: 600;
}

#header .header-top .header-top__list .header-top__item {
    list-style-type: none;
    position: relative;
    padding: 0 10px;
    
}

.header-top__item--link {
    cursor: text;
}

#header .header-top .header-top__list .header-top__item:hover .header-top__item--link {
    color: #dc3545;
}

#header .header-top .header-top__list .header-top__item--separate::after {
    content: "";
    display: block;
    height: 15px;
    border-right: 1px solid #ccc;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#header .header-top .header-top__list .header-top__item>span{
    font-size: 1.1rem;
    font-weight: 300;
}

#header .header-top .header-top__list .header-top__item .header-top__item--link {
    color:  #5B5B5B;
    text-decoration: none;
    transition: color 0.5s;
}

.header-bar {
    display: flex;
    padding: 8px 20px;
    align-items: center;
    justify-content: space-between;
  
}

.header-left .header-left__logo {
    width: 100%;
    height: 100%;
    background-color: #dc3545;
}

.header-left {
    width: 210px;
    height: 60px;
    padding: 10px 0px;
}

.header-navbar .header-navbar__list {
    display: flex;
    list-style-type: none;
}

.header-navbar .header-navbar__item {
    position: relative;
}

.header-navbar .header-navbar__item::after {
    content: "";
    display: block;
    width:  100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 20px;
    z-index: -1;
}

.header-navbar .header-navbar__item:hover:after {
    animation: abc 0.4s ease-in-out;
    animation-fill-mode: both;
}

@keyframes abc {
    from{transform: scale(0,0);background-color: #dc3545;}
    to {transform: scale(1,1);background-color: #dc3545;}
}

.header-navbar .header-navbar__item--link {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 10px;
}

.header-navbar .header-navbar__item:hover .header-navbar__item--link {
    animation: xyz 0.4s ease-in forwards;
}

@keyframes xyz {
    to {color: white;}
}

.header-navbar__item .header-subnav__list {
    visibility: hidden;
    list-style-type: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 200px;
    opacity: 0;
    box-shadow: 0px 2px 5px 2px #ccc;
    transition: 0.3s linear;
    background-color: white;
}

.header-navbar .header-navbar__item:hover .header-subnav__list {
    opacity: 100;
    visibility: visible;
    margin-top: 30px;
}

.header-navbar__item .header-subnav__item--link {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 10px;
}

.header-navbar .header-navbar__item .header-subnav__list::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    transform: translateY(-100%);
}

.header-navbar__item .header-subnav__item:hover .header-subnav__item--link {
    background-color: #dc3545;
}

.header-bar .hiddennav {
    display: none;
    text-align: right;
    padding: 10px 0px;
}

.header-bar .hiddennav .ti-view-grid{
    font-size: 2rem;
    padding: 10px;
    background-color: #dc3545;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right .header-shoppingcart {
    position: relative;
    background-color: black;
    padding: 8px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.header-right .header-shoppingcart .ti-shopping-cart {
    font-size: 2.5rem;
    color: white;
}

.header-right .header-shoppingcart .header-shoppingcart__number {
    color: white;
    position: absolute;
    top: -20%;
    right: -10%;
    background-color: #dc3545;
    padding: 5px 9px;
    border-radius: 50%;
}

.header-right .header-shoppingcart .header-shoppingcart__number p {
    
}

.header-right .header-searchbar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 9px 15px;
    background-color: #f1f1f1;
}

.header-right .header-searchbar .header-searchbar__input {
    border: none;
    outline: none;
    background-color: #f1f1f1;
}

.header-right .header-searchbar .header-searchbar__btn {
    cursor: pointer;
}

.header-right .header-searchbar .header-searchbar__btn .ti-search {
    font-size: 1.6rem;
}

.slider-carousel {
    margin-top: 128px;
}

.banner {
    width: 100%;
    height: 350px;
    background-color: aquamarine;
    font-size: 100px;
    text-align: center;
}

.banner p {
    line-height: 350px;
}
